<h3><strong>Мой профиль</strong></h3><br>
<h3>Имя: <%= current_user.name%><h3>
<h3>Email: <%= current_user.email%><h3>
<ol>Мои записи:
    <%CalendarRecord.joins(user_records: :user).where("user_id = ?", current_user.id).each do |r|%>
    <% my_start = r.start_time.strftime("%H:%M") %> 
    <% my_end = r.end_time.strftime("%H:%M") %>
    <%=my_date = r.start_time.strftime("%d-%m-%Y")%>
        <li>
           Услуги: <%= r.coach.act.service.name%> <br>
           Занятие: <%= r.coach.act.activity%> <br>
           Клуб: <%= r.club.name %> <br>
           Тренер: <%= r.coach.name%> <br>
           Дата: <%=my_date%> <br>
           Время: <%= my_start + '-' + my_end%>
        </li>
    <%end%>
    
</ol>