<div style="margin-left: 50px">
    <h2><%= t('header.history_complaint') %></h2> <br>
    <% if Complaint.find_by(user_id: current_user.id).present? %>
        <ol>
        <% Complaint.where(user: current_user).each do |comp|%>
            <div class="card" style="font-size:20px; width:700px">
                <div class="card-body">            
                    <p><%=comp.created_at.strftime("%d.%m.%Y") + ' ' + comp.created_at.strftime("%H:%M")%></p>
                    <p style="margin-left: 50px"><strong>Тема: </strong><%=comp.theme%></p>
                    <p style="margin-left: 50px"><strong>Статус жалобы: </strong><%=t("complaint.new.#{comp.status}")%></p>
                    <p style="margin-left: 50px"><strong>Жалоба: </strong><%=comp.message%></p>
                    <% if comp.response.present? %>
                        <br>
                        <p><%=comp.updated_at.strftime("%d.%m.%Y") + ' ' + comp.updated_at.strftime("%H:%M")%></p>
                        <p style="margin-left: 50px;"> <strong>Ответ: </strong><%=comp.response%></p>   
                    <% end %>   
                </div>
            </div>
            <br>
        <% end %>
        </ol>
    <% else %>
        <h3> Нет истории жалоб </h3>   
    <% end %>
</div>