<div style="margin-left: 50px">
    <h2><%= t('header.new_complaint') %></h2> <br>
    <%= form_with url: complaint_add_path do |f|%>
        <div style="width:700px">
            <%= f.text_field :theme, class: "form-control", placeholder: t('complaint.new.theme'), autofocus: true %>
        </div>
        <div style="width:700px">
            <%= f.text_area :problem, :rows => 12, class: "form-control", placeholder: t('complaint.new.problem'), autofocus: true %>
        </div>
        <div>
            <%= f.submit t('complaint.new.send'), class: 'btn btn-primary'%>
        </div>
    <% end %>
</div>