<% act = $record[:activity] %>
<div class="row justify-content-between">
    <div style="display: flex; justify-content:flex-start;">
         <%= link_to service_path(:service => $record[:service]), id: "back" do %>
            <%= image_tag "back.png", style: "margin-left: 55px",size: "40x40", :alt => "Назад" %>
        <% end %>
    </div>
    <div style="display: flex; justify-content:center">
        <h1 style> <%= act %> </h1>
    </div>
</div>
<br>
<div class="row justify-content-between">
    <div class=col-5>
        <% img_url = "#{transl[act]}.jpg"%>
        <% ex = File.exists?("/home/roman/Documents/Prog/Projects/FitnesClub2/app/assets/images/#{img_url}")%>
        <% img_file = ex ? img_url : 'act.jpg'%>
        <%= image_tag img_file, style: "margin-left: 10px", size: "650x500", :alt => "service img" %> 
    </div>        
    <div class=col-6>
        <% file = "join/#{transl[$record[:service]]}_acts/#{transl[act]}" %> 
        <div class="container"  style="margin-right: 50px; position: relative; top: 30%;"> 
            <div> <% if ex%> <%= render file %> <%else%> Информация о занятии <%end%></div>
            <% unless Coach.find_by(user_id: current_user&.id) && current_user.present? %>
                <div> <%= link_to 'Записаться', club_path,  class: "btn btn-primary", id: "zap"%> </div>
            <% end %>
        </div>
    </div>    
</div>


