<%= month_calendar(events: @records_need) do |date, records_need| %>
    <div class="day">
        <%= date.day %>
    </div>

    <div class="card-body"> 
        <%records_need.each do |rec|%>
        <% p rec.start_time.strftime("%e")%>
        <% p date.day%>
            <%if rec.start_time.strftime("%e").to_i==date.day%>
                <%= rec.coach.name%>
                <%= rec.start_time.strftime("%H:%M")%>
                <%= rec.end_time.strftime("%H:%M")%>
            <%end%>
        <%end%>
    </div>     
        <%# <div class="card-header"> %>
<% end %>

<%= button_to 'Назад', {action: "club"}, method: 'get', local: true, class: "btn btn-secondary" %>``