<%= month_calendar(events: @records_need) do |date, records_need| %> 
    <div class="my-day">
        <%= date.day %>
    </div>
        <h6 class="my-day-events"> 
        <% @my_coaches.each do |coach|%>
            <%first = true%> 
            <%records_need.each do |r|%>
                <%if r.coach.name==coach%>
                    <%if first%>
                        <ul><%= coach %>
                    <%end%>                        
                    <li><%=r.start_time.strftime("%H:%M") + '-' + r.end_time.strftime("%H:%M")%></li>
                    <%first = false%>
                <%end %>                    
            <%end%>
            </ul>
        <%end%>
        </h6>
<% end %>

<%= button_to 'Назад', {action: "club"}, method: 'get', local: true, class: "btn btn-secondary" %>``