<div class="row justify-content-between">
    <div class=col-5>
         <%= link_to root_path, id: "back" do %>
            <%= image_tag "back.png", style: "margin-left: 55px",size: "40x40", :alt => "Назад" %>
        <% end %>
    </div>
    <div class=col-7>
        <h1 style>  Услуги </h1>
    </div>
</div>
<br><br>
<div class="row justify-content-between">
    <% Service.all.each do |i| %>
        <div class=col-6>
            <div class="card" style="width: 35rem; height: 40rem; margin: auto">
                <% img_url = "#{transl[i.name]}.jpg"%>
                <% ex = File.exists?("/home/roman/Documents/Prog/Projects/FitnesClub2/app/assets/images/#{img_url}")%>
                <% img_file = ex ? img_url : 'show.jpg'%>
                <%= image_tag img_file, class: "card-img-top", :alt => "service img" %>
                <div class="card-body">
                    <h3 class="card-title", style="text-align:center">
                        <%= link_to i.name, service_path(:service => i.name), class: 'nav-link px-2', id: transl[i.name]%>
                    </h3>
                    <p class="card text">
                        <% file = "join/service/#{transl[i.name]}" %>    
                        <div> <% if ex%> <%= render file %> <%else%> Информация об услуге <%end%></div>
                    </p>
                </div>
            </div>
        </div>
    <% end %>
</div>  
